services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  # 明确定义所有服务，不使用 exclude
  Tourze\StockManageBundle\Service\:
    resource: '../../Service/*'

  Tourze\StockManageBundle\Repository\:
    resource: '../../Repository/*'
    public: true

  Tourze\StockManageBundle\EventListener\:
    resource: '../../EventListener/*'

  Tourze\StockManageBundle\Controller\:
    resource: '../../Controller/*'
    tags: ['controller.service_arguments']
  Tourze\StockManageBundle\Procedure\:
    resource: '../../Procedure/*'

  # 核心服务接口声明
  Tourze\StockManageBundle\Service\StockServiceInterface:
    alias: Tourze\StockManageBundle\Service\StockService
    public: true

  Tourze\StockManageBundle\Service\BatchQueryServiceInterface:
    alias: Tourze\StockManageBundle\Service\BatchQueryService
    public: true

  # 策略服务自动标记
  Tourze\StockManageBundle\Service\AllocationStrategy\:
    resource: '../../Service/AllocationStrategy/*'
    tags: ['stock_manage.allocation_strategy']
    public: true
